#servicesgrid {
    display: grid;
    height: 90vh;
    width: 100%;
    background-image: url("../assets/images/stockphotoweerkstattinhead.jpeg");
    background-size: cover;
    border: 140px;
}
#showcaseservice {
    display: flex;
    justify-content: center;
    margin: 150px 0px 40px 0px;
}
#expservice {
    text-align: center;
    text-shadow: 10px 9px 10px whitesmoke;
    font-size: 10vw;
    font-family: "Gloria Hallelujah", cursive;
    color: black;
}
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.5fr 1.2fr;
    grid-template-areas:
    "card1 card2 card3"
    "card4 card5 card6";
    padding: 1px 60px 45px 60px;
    gap: 5px;
    margin-top: 20px;
}
main{
    background: #F7ED85;
    grid-area: main;
}
#card1{
    background: aquamarine;
}
#card2{
    background: aqua;
}
#card3{
    background: mediumaquamarine;
}
#card4{
    background: aqua;
}
#card5{
    background: mediumaquamarine;
}
#card6{
    background: aquamarine;
}
footer{
    background: yellowgreen;
    grid-area: footer;
}
.card-header{
    text-align: center;
    font-weight: 300;
    font-size: 34px;
    font-family: "Georgia";
    color: #4A4F55;
}
.card-logo{
    text-align: center;
}
.card-content{

}
.card-svg{
    height: 32px;
    width: 32px;
}
p{
    margin: 1em 0;
    font-size: 20px;
    text-align: center;
}


@media (max-width: 1000px){
    .card-header{
        font-weight: 200;
        font-size: 24px;
    }
}
@media (max-width: 728px) {
    #servicesgrid {
        height: 50vh;
    }
}
@media (max-width: 600px) {
    .card-header{
        font-weight: 150;
        font-size: 18px;
    }
}
@media (max-width: 440px) {
    .container {
        padding: 1px 0 45px 0;
    }
}
