details.styled{
    padding: 1em;
    border: 3px solid white;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    color: white;
}
details.styled summary{
    outline: none;
    cursor: pointer;
}

details.glasstyled summary{
    outline: none;
    cursor: pointer;
}

details.unfallstyled summary{
    outline: none;
    cursor: pointer;
}

details[open].styled summary{
    padding-bottom: 20px;
    color: white;
    text-shadow: 6px 6px 6px black;
    font-size: 2rem;
    padding-left: 2vw;
}
details[open].glasstyled summary{
    padding-bottom: 20px;
    color: white;
    text-shadow: 6px 6px 6px black;
    font-size: 2rem;
    padding-left: 2vw;

}
details[open].unfallstyled summary{
    padding-bottom: 20px;
    color: white;
    text-shadow: 6px 6px 6px black;
    font-size: 2rem;
    padding-left: 2vw;

}
details[open].styled{
    background-color: #5E616A;

}
details[open].glasstyled{
    background: #5E616A;
}
details[open].unfallstyled{
    background-color: #5E616A;
}
details.glasstyled{
    padding: 1em;
    transition: all 0.4s ease-in-out;
    border: 3px solid white;
    border-radius: 10px;
    color: white;
}

details.unfallstyled{
    padding: 1em;
    border: 3px solid white;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
    color: white;

}


.reifendiv, .glasdiv, .unfalldiv{
    padding: 20px 40px 20px 20px;
    border-radius: 20px;
}
.reifenHeading{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 40px;
    text-align: start;
    padding: 50px 40px 20px 60px;
    color: white;
}
.leistungsgrid{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0px 40px 40px 50px;


}
.servimg{
    width: 60vh;
    height: 100vh;
}
.serviceright{
    padding-left: 0;
    padding-right: 60px;
}
.tyreblock,.glasblock,.unfallblock{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    width: 100%;
    padding-left: 2vw;

}

.bildtyre,.bildglas, .bildunfall{
    height: 30vh;
    width: 35vh;
    border-radius: 10%;
}
.tyrebild, .glasbild, .unfallbild{
    padding-left: 3vw;
    padding-bottom: 8px;
}
details > summary {
    list-style: none;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-family: "Gloria Hallelujah", cursive;
    font-size: 1.5rem;
}

details > summary::-webkit-details-marker {
    display: none;
}
.reifen, .glas, .unfall{
    color: white;
    font-family: "Gloria Hallelujah", cursive;
    font-size: 16px;

}