@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

nav {
    height: 80px;
    width: 100%;
    position: fixed;
}

label.logo {
    color: black;
    line-height: 110px;
    padding: 40px 40px 40px 40px;
    font-weight: bold;
    font-size: 40px;
    font-family: "Black Han Sans", sans-serif;
    text-shadow: 10px 10px 15px #82888c;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 110px;
    margin: 0 5px;
}

.checkbtn {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}

@media (max-width: 880px) {
    .checkbtn {
        display: block;
        padding: 10px 20px 50px 20px;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        background: white;
        right: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    #check:checked ~ ul {
        right: 0;
    }
    #text{
        font-size: 12px;
    }
}

.servicegrid {
    display: grid;
    margin-top: 100px;
    height: 90vh;
    width: 100%;
    background-image: url("../assets/images/auto4.jpg");
    background-size: cover;
}

#showcase {
    display: flex;
    justify-content: center;
    margin: 150px 0px 40px 0px;
}

#exp {
    grid-area: exp;
    text-align: center;
    color: black;
    text-shadow: 10px 9px 10px whitesmoke;
    font-size: 10vw;
    font-family: "Gloria Hallelujah", cursive;
}

.bottom-layer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.texti{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.left{
    background-color: #f8b981;

}
.right{
    background-color: #90adc6;
}
.top-layer{
    height: 11vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 80px;


}

.FromLeft, .FromRight{
    font-family: 'Anton', sans-serif;
    font-size: 3vw;


}
.FromRight{
    padding-left: 0px;
}
.FromLeft{
    padding-right: 10px;
}



.wrapper{
    display: grid;
    padding: 40px 30vw 40px 30vw;
    height: 20vh;
    width: 100%;
}
.bottom-layer, .top-layer{
    grid-area: 1/1;
}
.period{
    font-weight: bold;

    color: white;
}

.texti{
    letter-spacing: 10px;


}
.about{
    color: black;
}


#des {
    grid-area: des;
    display: grid;
    text-align: center;
    padding: 30px 40px 30px 40px;

    border-radius: 20px;
}
#text {
    font-family: "Gloria Hallelujah", cursive;
    color: black;
}

#footer {
    background: #1de9b6;
    grid-area: footer;
}


