

html {
    background-image: url("https://images.unsplash.com/photo-1532949293134-3eb646d213f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");

}
.wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: auto;
    padding: 10px;
}


.main-nav ul{
    display: grid;
    grid-gap: 50px;
    list-style: none;
    grid-template-columns: repeat(4,1fr);

}
.main-nav a {
    display: block;
    background-color: black;
    text-decoration: none;
    border-color: white;
    padding: 5px;
    text-align: center;
    color: white;
    font-family: 'Play', sans-serif;
    border-radius: 40px;
    font-size: 1.1rem;
    box-shadow: 8px 5px 8px 5px rgba(104,104,104,0.8);
    height: 30px;

}
.main-nav a:hover {

    background: rgb(71, 71, 70);
    color: white;
}

.showcase {
    display: grid;
    margin-top: 0;

}
.bottom-layer,.top-layer {
    grid-area: 1/1;
}



.bottom-layer {
    display: grid;
    grid-template-columns: 700px 700px;
    width:50%;
    height: 60vh;
    margin: 200px;
    padding:0;

}

.left {

    background-color:#78C4D5;

}
.right {
    background-color:#F7ED85;

}


.top-layer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    font-family: "Didact Gothic","Helvetica",sans-serif;
    font-size: 5vw;
    letter-spacing: 3px;

}

.period {
    color: black;
}